.SideNavContainer{
    height: 93vh;
    width: 200px;
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.navitem{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    font-size: 20px;

}
ul{
    padding: 0px;
}
.linkele{
    color: #000000;
    text-decoration: none;
  }

  .active{
    background-color: #000000;
    color: white;
    transition: linear 0.5s ;
  }
  .btnlogout{
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #000000;
    color: white;
    margin-bottom: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .ulcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
  }